{{!IMAGE CAROUSEL}}

<div id="carouselExampleControls" class="carousel slide" data-ride="carousel" data-interval="2500">
    <div class="carousel-inner">
        <div class="carousel-item active" style="background-image: url('styles/assets/img/gotmedallion.jpg')">
            <img class="d-block w-100" />
        </div>
        <div class="carousel-item" style="background-image: url('styles/assets/img/classicenterprise.jpg')">
            <img class="d-block w-100" />
        </div>
        <div class="carousel-item" style="background-image: url('styles/assets/img/mushroom.jpg')">
            <img class="d-block w-100" />
        </div>
        <div class="carousel-item" style="background-image: url('styles/assets/img/starwarspop.jpg')">
            <img class="d-block w-100" />
        </div>
        <div class="carousel-item" style="background-image: url('styles/assets/img/pokeball.jpg')">
            <img class="d-block w-100" />
        </div>
    </div>
</div>

{{! NERDBOX DESCRIPTION }}
<div>
    <h1 class="infoTitle">What is Nerdbox?</h1>
</div>

<div>
    {{! CATEGORIES }}
    <h1 class="infoTitle">Categories</h1>
    <div class="infoSection"></div>
</div>

<div class="container bottomContent ">
    <div class="card-deck mb-3 text-center">
        <div id="categorycard" class="card mb-4 ">
            <div class="card-body">
                <img src="/styles/assets/product/mediumbox.png" class="lootimg" alt="" />
                <div>
                    <a href="/subscription"class="btn btn-lg btn-block btn-primary" role="button">Movies</a>
                </div>
            </div>
        </div>
        <div id="categorycard" class="card mb-4">
            <div class="card-body">
                <img src="/styles/assets/product/mediumbox2.png" class="lootimg" alt="" />

                <div>
                    <a href="/subscription"class="btn btn-lg btn-block btn-primary" role="button">Anime</a>
                </div>
            </div>
        </div>
        <div id="categorycard" class="card mb-4">
            <div class="card-body">
                <img src="/styles/assets/product/mediumbox.png" class="lootimg" alt="" />
                <div>
                    <a href="/subscription"class="btn btn-lg btn-block btn-primary" role="button">Comics</a>
                </div>
            </div>
        </div>
        <div id="categorycard" class="card mb-4">
            <div class="card-body">
                <img src="/styles/assets/product/largebox.png" class="lootimg" alt="" />
                <div>
                    <a href="/subscription"class="btn btn-lg btn-block btn-primary" role="button">Video Games</a>
                </div>
            </div>
        </div>
    </div>
    <div class="row card-deck mb-3 text-center">
        <div id="categorycard" class="card mb-4">
            <div class="card-body">
                <img src="/styles/assets/product/mediumbox.png" class="lootimg" alt="" />
                <div>
                    <a href="/subscription"class="btn btn-lg btn-block btn-primary" role="button">TV Shows</a>
                </div>
            </div>
        </div>
        <div id="categorycard" class="card mb-4">
            <div class="card-body">
                <img src="/styles/assets/product/mediumbox2.png" class="lootimg" alt="" />
                <div>
                    <a href="/subscription"class="btn btn-lg btn-block btn-primary" role="button">Music</a>
                </div>
            </div>
        </div>
        <div id="categorycard" class="card mb-4">
            <div class="card-body">
                <img src="/styles/assets/product/largebox.png" class="lootimg" alt="" />
                <div>
                    <a href="/subscription"class="btn btn-lg btn-block btn-primary" role="button">Analog Games</a>
                </div>
            </div>
        </div>
        <div id="categorycard" class="card mb-4">
            <div class="card-body">
                <img src="/styles/assets/product/mediumbox.png" class="lootimg" alt="" />
                <div>
                    <a href="/subscription"class="btn btn-lg btn-block btn-primary" role="button">Random</a>
                </div>
            </div>
        </div>
    </div>
</div>

<div>
    {{#if isloggedin}}
    <a href="/logout"> <button type="btn" class="btn">Logout</button></a>
    {{else}}
    <a href="/signin"> <button type="submit" id="sign-in" class="btn">Sign In!</button></a>
    <a href="/signup"> <button type="submit" id="sign-up" class="btn">Sign Up!</button></a>
    {{/if}}
</div>
</div>
</div>

<!--Dont need this now-->