<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/css/bootstrap.css"
    />
    <link
      rel="stylesheet"
      href="/../public/styles/styles.css"
      media="screen"
      title="no title"
      charset="utf-8"
    />
    <link
      href="https://fonts.googleapis.com/css?family=Noto+Sans"
      rel="stylesheet"
    />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.js"></script>
    <script src="/../public/js/index.js"></script>
    <title>Nerdbox - LootBox</title>
  </head>

  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="#">
        <img
          src="/../public/styles/assets/logos/logo4.png"
          class="logoImg"
          alt=""
        />
      </a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNavAltMarkup"
        aria-controls="navbarNavAltMarkup"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
          <a class="nav-item nav-link active" href="#"
            >What is Nerdbox?<span class="sr-only">(current)</span></a
          >
          <a class="nav-item nav-link" href="#">Features</a>
          <a class="nav-item nav-link" href="#">Pricing</a>
        </div>
      </div>
    </nav>

    <div
      id="carouselExampleControls"
      class="carousel slide"
      data-ride="carousel"
      data-interval="2500"
    >
      <div class="carousel-inner">
        <div
          class="carousel-item active"
          style="background-image: url('/public/styles/assets/img/gotmedallion.jpg')"
        >
          <img class="d-block w-100" alt="First slide" />
        </div>
        <div
          class="carousel-item"
          style="background-image: url('/public/styles/assets/img/classicenterprise.jpg')"
        >
          <img class="d-block w-100" alt="Second slide" />
        </div>
        <div
          class="carousel-item"
          style="background-image: url('/public/styles/assets/img/mushroom.jpg')"
        >
          <img class="d-block w-100" alt="Third slide" />
        </div>
        <div
          class="carousel-item"
          style="background-image: url('/public/styles/assets/img/starwarspop.jpg')"
        >
          <img class="d-block w-100" alt="Third slide" />
        </div>
        <div
          class="carousel-item"
          style="background-image: url('/public/styles/assets/img/pokeball.jpg')"
        >
          <img class="d-block w-100" alt="Third slide" />
        </div>
      </div>
    </div>

    <div>
      <h2 class="infoTitle">What is Nerdbox?</h2>
    </div>

    <div class="infoSection">
      <p></p>
    </div>

    <div class="container bottomContent">
      <div class="card-deck mb-3 text-center">
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Free</h4>
          </div>
          <div class="card-body">
            <img
              src="/../public/styles/assets/product/mediumbox2.png"
              class="lootimg"
              alt=""
            />
            <ul class="list-unstyled mt-3 mb-4">
              <li>10 users included</li>
              <li>2 GB of storage</li>
              <li>Email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">
              Get started
            </button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Pro</h4>
          </div>
          <div class="card-body">
            <img
              src="/../public/styles/assets/product/mediumbox.png"
              class="lootimg"
              alt=""
            />
            <ul class="list-unstyled mt-3 mb-4">
              <li>20 users included</li>
              <li>10 GB of storage</li>
              <li>Priority email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">
              Get started
            </button>
          </div>
        </div>
        <div class="card mb-4 shadow-sm">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Enterprise</h4>
          </div>
          <div class="card-body">
            <img
              src="/../public/styles/assets/product/largebox.png"
              class="lootimg"
              alt=""
            />
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
            <button type="button" class="btn btn-lg btn-block btn-primary">
              Get started
            </button>
          </div>
        </div>
      </div>

      <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
          <div class="col-12 col-md">
            <img
              class="mb-2"
              src="/docs/4.3/assets/brand/bootstrap-solid.svg"
              alt=""
              width="24"
              height="24"
            />
            <small class="d-block mb-3 text-muted">© 2017-2019</small>
          </div>
          <div class="col-6 col-md">
            <h5>Features</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Cool stuff</a></li>
              <li><a class="text-muted" href="#">Random feature</a></li>
              <li><a class="text-muted" href="#">Team feature</a></li>
              <li><a class="text-muted" href="#">Stuff for developers</a></li>
              <li><a class="text-muted" href="#">Another one</a></li>
              <li><a class="text-muted" href="#">Last time</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>Resources</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Resource</a></li>
              <li><a class="text-muted" href="#">Resource name</a></li>
              <li><a class="text-muted" href="#">Another resource</a></li>
              <li><a class="text-muted" href="#">Final resource</a></li>
            </ul>
          </div>
          <div class="col-6 col-md">
            <h5>About</h5>
            <ul class="list-unstyled text-small">
              <li><a class="text-muted" href="#">Team</a></li>
              <li><a class="text-muted" href="#">Locations</a></li>
              <li><a class="text-muted" href="#">Privacy</a></li>
              <li><a class="text-muted" href="#">Terms</a></li>
            </ul>
          </div>
        </div>
      </footer>
    </div>
  </body>
</html>
