<!--<form id="signin" name="signin" method="post" action="signin">
    <label for="email">Email Address</label>
    <input class="text" name="email" type="text" />
    <label for="password">Password</label>
    <input name="password" type="password" />
    <input class="btn" type="submit" value="Sign In" />
</form>-->

<br>
<br>
<br>
<br>
<br>


<div class="container">
    <form id="signin" name="signin" method="post" action="signin">
        <div class="form-group">
            <label for="email">Email address</label>
            <input type="email" name="email" class="form-control" id="email" aria-describedby="emailHelp"
                placeholder="Enter email">
        </div>
        <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="password" class="form-control" id="password" placeholder="Password">
        </div>
        <br>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>